# Application URL
BASE_URL=https://www.saucedemo.com

# Test Account - Login Success
USERNAME=standard_user
PASSWORD=secret_sauce

# Browser config (chromium | firefox | webkit)
BROWSER=chromium

# Use system Chrome when Playwright chromium is not installed
BROWSER_CHANNEL=chrome

# Run headless (true | false)
HEADLESS=true
